footer.footer
	.container
		.logo.footer__logo
			a.logo__item
				img(alt="logotype", src="../img/logo-footer.png")
		.site-map.footer__site-map
			ul.site-map__list
				li.site-map__item
					h3.site-map__title О магазине
					a.site-map__link(href="#") О нас
					a.site-map__link(href="#") Наши цены
					a.site-map__link(href="#") Наши скидки
					a.site-map__link(href="#") Акции
				li.site-map__item
					h3.site-map__title Каталог
					a.site-map__link(href="#") Смартфоны
					a.site-map__link(href="#") Планшеты
					a.site-map__link(href="#") Компьютеры
					a.site-map__link(href="#") Аксессуары
				li.site-map__item
					h3.site-map__title Контакты
					a.site-map__link(href="#") Телефоны
					a.site-map__link(href="#") Адреса
					a.site-map__link(href="#") Карта проезда
					a.site-map__link(href="#") Обратная связь
		.socials.footer__socials
			.mobile-store
				a.mobile-store__link(href="#")
					img(alt="appstore", src="../img/appstore-pic.jpg")
				a.mobile-store__link(href="#")
					img(alt="goggleplay", src="../img/googleplay-pic.jpg")
			ul.footer-soc
				li.footer-soc__item
					a.footer-soc__link.footer-soc__link_vk-footer(href="#") Vk
				li.footer-soc__item
					a.footer-soc__link.footer-soc__link_fb-footer(href="#") Facebook
				li.footer-soc__item
					a.footer-soc__link.footer-soc__link_tw-footer(href="#") Twitter