footer.footer
	.container
		.logo.footer__logo
			a.logo__item
				img(alt="logotype", src="../img/logo-footer.png")
		.site-map.footer__site-map
			ul.site-map__list
				li.site-map__item
					h3.site-map__title О магазине
					a.site-map__link О нас
					a.site-map__link Наши цены
					a.site-map__link Наши скидки
					a.site-map__link Акции
				li.site-map__item
					h3.site-map__title Каталог
					a.site-map__link Смартфоны
					a.site-map__link Планшеты
					a.site-map__link Компьютеры
					a.site-map__link Аксессуары
				li.site-map__item
					h3.site-map__title Контакты
					a.site-map__link Телефоны
					a.site-map__link Адреса
					a.site-map__link Карта проезда
					a.site-map__link Обратная связь
		.socials.footer__socials
			.mobile-store
				.mobile-store__app-store
				.mobile-store__google-play
			ul.footer-soc
				li.footer-soc__item
					a.footer-soc__link(href="#") Vk
				li.footer-soc__item
					a.footer-soc__link(href="#") Facebook
				li.footer-soc__item
					a.footer-soc__link(href="#") Twitter