header.header
	.header__top
		.container
			ul.soc.header__soc
				li.soc__item
					a.soc__link.soc__link_vk(href="#") Vk
				li.soc__item
					a.soc__link.soc__link_fb(href="#") Facebook
				li.soc__item
					a.soc__link.soc__link_tw(href="#") Twitter
			.header__address г.Москва, ул. Новая 246, офис 214
			a.header__phone(href="tel:+79883145988") <sup>+7(921)</sup> 322 12 32
	.header__bottom
		.container
			.logo.header__logo
				a.logo__item(href="product.html")
					img(alt="logotype", src="img/logo-header.png")
			form.search-form.header__search-form
				input.search-form__input(type="search", placeholder="iMac 27 дюймов")
				input.search-form__button(type="submit", value="Поиск")
			ul.menu.header__menu
				li.menu__item
					a.menu__link(href="#") Карта проезда
				li.menu__item
					a.menu__link(href="#") История заказов
			.cart.header__cart
				a.cart__link(href="#") Корзина (3)
				ul.hover-menu.cart__hover-menu
					li.hover-menu__item
						a.hover-menu__link(href="#")
							img.hover-menu__pic(alt="iPhone 6", src="img/iphone6-pic.jpg")
							span.hover-menu__text iPhone 6
					li.hover-menu__item
						a.hover-menu__link(href="#")
							img.hover-menu__pic(alt="iPad Air", src="img/ipadair-pic.jpg")
							span.hover-menu__text iPad Air Wi-Fi + Cellular 128GB - Silver
					li.hover-menu__item
						a.hover-menu__link(href="#")
							img.hover-menu__pic(alt="Macbook Air", src="img/macbook-pic.jpg")
							span.hover-menu__text Macbook Air