header.header
	.header__top
		.container
			ul.soc.header__soc
				li.soc__item
					a.soc__link(href="#") Vk
				li.soc__item
					a.soc__link(href="#") Facebook
				li.soc__item
					a.soc__link(href="#") Twitter
			.header__address г.Москва, ул. Новая 246, офис 214
			.header__phone +7(921) 322 12 32
	.header__bottom
		.container
			.logo.header__logo
				a.logo__item
					img(alt="logotype", src="img/logo-header")
			form.search-form.header__search-form
				input.search-form__input(placeholder="iMac 27 дюймов")
				input.search-form__button(type="submit", value="Поиск")
			ul.menu.header__menu
				li.menu__item
					a.menu__link(href="#") Карта проезда
				li.menu__item
					a.menu__link(href="#") История заказов
			.header__cart
				a.header__cart__link(href="#") Корзина (3)