nav.navigator
	.container
		ul.navigator__list
			li.navigator__item
				a.navigator__link(href="#") Мобильные телефоны
			li.navigator__item
				a.navigator__link.navigator__link_light(href="#") Планшеты
			li.navigator__item
				a.navigator__link(href="#") Mp3 плееры
			li.navigator__item
				a.navigator__link(href="#") Персональные компьбтеры
			li.navigator__item
				a.navigator__link(href="#") Ноутбуки
			li.navigator__item
				a.navigator__link(href="#") Apple TV
			li.navigator__item
				a.navigator__link(href="#") Аксессуары