$fontStack: "elektra_light_proregular", Arial ,sans-serif;

$mainFontColor: #5c7b98;
$mainColorBlue: #00b9fe;


$containerWidth: 1000px;
$containerMargin: 0px auto;

body {
  font: 1em $fontStack;
  color: $mainFontColor;
}

h1 {
	color: $mainColorBlue;
}