@import "compass";
/* <==========normalize==========> */
@import "_misc/_normalize";
/* <==========mixins==========> */
@import "_misc/_mixins";
/* <==========adjustment==========> */
@import "_misc/_adjustment";

/* <==========sections==========> */

//HEADER-TOP
.header__top {
	@include clearfix;
	padding-top: 10px;
	background: #43616d;
}

.soc {
	float: left;
}

.soc__item {
	@include inlineblock;
	margin-right: 8px;
}

.soc__link {
	display: block;
	text-decoration: none;
	font-size: 0px;
}

$icons: sprite-map('../img/*.png');

$items: vk, fb, tw;

@each $item in $items {
	.soc__link_#{$item} {
		background: sprite($icons, $item);
		/* background-image: url('../img/#{$item}.png'); */
		background-repeat: no-repeat;
		width: sprite-width($icons, $item);
		height: sprite-height($icons, $item);
	}
}

.header__address {
	position: relative;
	float: left;
	margin-left: 315px;
	font-size: 13px;
	line-height: 20px;
	color: #fff;
}

$geoloc: geoloc-i;
.header__address:before {
	content: " ";
	position: absolute;
	left: -28px;
	background: sprite($icons, $geoloc);
	background-repeat: no-repeat;
	width: sprite-width($icons, $geoloc);
	height: sprite-height($icons, $geoloc);
}

.header__phone {
	float: right;
	font-size: 25px;
	text-decoration: none;
	color: #fff;
}

.header__phone sup {
	font-size: 16px;
	color: $mainColorBlue;
}

//HEADER-BOTTOM

.header__bottom {
	@include clearfix;
	padding-top: 35px;
	background: #dfe9f2;
}

.header__logo,
.header__search-form,
.header__menu {
	float: left;
	margin-right: 25px;
}

.header__logo {
	position: relative;
	bottom: 10px;
}

.header__search-form {
	margin-left: 35px;
}

.search-form__input {
	width: 245px;
	padding: 6px 0;
	padding-left: 10px;
	border: $borderGray;
	font-size: 15px;
	line-height: 20px;
	background-color: #fff;
	color: #dce6f0;
	outline: medium none;
}

.search-form__button {
	position: relative;
	top: -1px;
	height: 32px;
	padding: 0 16px; 
	border: medium none;
	outline: 0px none;
	font-family: $fontStackBold;
	font-size: 17px;
	line-height: 20px;
	background-color: $mainColorBlue;
	color: #fff;
}

.menu__item {
	@include inlineblock;
	font-size: 13px;
	line-height: 20px;
	&:first-child {
	    	margin-right: 20px;
    }
}

.menu__link {
	color: $mainColorBlue;
}

.header__cart {
	float: right;
}

.cart__link {
	position: relative;
	display: block;
	bottom: 7px;
	padding: 10px 20px;
	padding-left: 45px;
	border: $borderGray;
	font-size: 13px;
	line-height: 20px;
	background: #fff;
	color: $mainFontColor;
}

$cart: cart-i;
.cart__link:before {
	content: " ";
	position: absolute;
	left: 8px;
	background: sprite($icons, $cart);
	background-repeat: no-repeat;
	width: sprite-width($icons, $cart);
	height: sprite-height($icons, $cart);
}

//NAVIGATOR

.navigator {
	border-bottom: 1px solid #e3e3e3;
	background: #f7f7f7;
}

.navigator__item {
	@include inlineblock;
}

.navigator__link {
	position: relative;
	display: block;
	padding: 10px 10px 10px 25px;
	font-size: 15px;
	text-decoration: none;
	color: $mainFontColor;
	&:hover {
	    	background: #dce6f0;
	    	&:after {
						background: #dce6f0;
						border-left-color: #dce6f0;
						border-bottom-color: #dce6f0;
	    	}
    }
  &:after {
  	content: "";
    position: absolute;
    top: 5px;
    right: -15px;
    width: 28px;
    height: 28px;
    border: 1px solid #d8e0ea; 
    border-left-color: #f7f7f7;
    border-bottom-color: #f7f7f7;
   	border-bottom-left-radius: 50px;
    z-index: 1;
  	background: #f7f7f7;
  	transform: rotate(45deg);
  }
}

// BREADCRUMBS

.breadcrumbs__item {
	@include inlineblock;
}

.breadcrumbs__link {
	position: relative;
	padding: 10px;
	font-size: 13px;
	line-height: 20px;
	color: $mainColorBlue;
	&:after {
		content: "";

  	position: absolute;
  	top: 15px;
  	right: -3px;
  	width: 5px;
  	height: 4px;
  	border: 1px solid $mainFontColor;
  	border-left-color: #fff;
    border-bottom-color: #fff;
  	transform: rotate(45deg);
	}
}

// PRODUCT

.product {
	@include clearfix;
}

// SLIDER

.slider {
	position: relative;
	float: left;
}

.slider__list-wrap {
	width: 278px;
	height: 224px;
	overflow: hidden;
}

.slider__list {
	@include clearfix;
	position: relative;
	left: 0;
	width: 2000px;
}

.slider__item {
	float: left;
}

.slider__buttons {
	position: relative;
}

.slider__btn_next {
	position: absolute;
	right: -100px;
}

.slider__btn_prev {
	position: absolute;
	left: -100px;
}

// TECH CHARACTERS

.tech-characters {
	float: right;
}

.tech-characters__title {
	font-size: 25px;
	line-height: 20px;
}

.tech-characters__desc {
	width: 100%;
	font-size: 14px;
}

.tech-characters__desc_tr:nth-child(2n) {
	background: #eef2f4;
}

// ABOUT STORE

.about-store {
	padding-bottom: 40px;
}

.about-store__title {
	font-family: $fontStackBold;
	font-size: 25px;
	line-height: 20px;
	color: $mainFontColor;
}

.about-store__desc {
	font-size: 15px;
	line-height: 20px;
	-moz-column-count: 3; /* Для Firefox */
  -webkit-column-count: 3; /* Для Safari и Chrome */
  column-count: 3;
}

// FOOTER

.footer {
	@include clearfix;
	/* padding-top: 10px; */
	background: url("../img/bg-footer.png") repeat;
}

.footer__logo,
.footer__site-map {
	float: left;
	margin-right: 25px;
}

.footer__socials {
	float: right;
}

.header__logo {

}




