doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="description", content="Apple-Store-Product")
		meta(name="keywords", content="ipad product mac iphone")
		meta(name="author", content="Max Orlov")
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		link(rel="stylesheet", type="text/css", href="fonts/stylesheet.css")
		link(rel="stylesheet", type="text/css", href="css/product_style.css")
		script(src="bower/modernizr/modernizr.js")
		block title
			title product-Apple-store
	body.product-page
		.wrapper
			.maincontent
				include ../common/header.jade
				include ../common/navigator.jade
				block item
					.container
						nav.breadcrumbs
							ul.breadcrumbs__list
								li.breadcrumbs__item
									a.breadcrumbs__link(href="#") Главная
								li.breadcrumbs__item
									a.breadcrumbs__link(href="#") Каталог
								li.breadcrumbs__item
									a.breadcrumbs__link.breadcrumbs__link_light(href="#") iPad Air Wi-Fi + Cellural 128GB - Silver
						.product
							.slider
								.slider__list-wrap
									ul.slider__list
										li.slider__item.active
											img.slider__img(src="../img/ipad-bigpic-slider.jpg")
										li.slider__item
											img.slider__img(src="../img/ipad-pic1-slider.jpg")
										li.slider__item
											img.slider__img(src="../img/ipad-pic2-slider.jpg")
										li.slider__item
											img.slider__img(src="../img/ipad-pic3-slider.jpg")
								.slider__buttons
									a.slider__btn.slider__btn_next(href="#") &#160;>
									a.slider__btn.slider__btn_prev(href="#") <
								.slider__arr-pics
									a.slider__arr-link
										img.slider__arr-img(src="../img/ipad-pic1-slider.jpg")
									a.slider__arr-link
										img.slider__arr-img(src="../img/ipad-pic2-slider.jpg")
									a.slider__arr-link
										img.slider__arr-img(src="../img/ipad-pic3-slider.jpg")
							.tech-characters
								h1.tech-characters__title iPad Air Wi-Fi + Cellural 128GB - Silver
								table.tech-characters__desc
									tbody
										tr.tech-characters__desc_tr
											td.tech-characters__desc_td Артикул
											td.tech-characters__desc_td 42787825
										tr.tech-characters__desc_tr
											td.tech-characters__desc_td Опция
											td.tech-characters__desc_td включена
										tr.tech-characters__desc_tr
											td.tech-characters__desc_td Цвет
											td.tech-characters__desc_td Серебристый
										tr.tech-characters__desc_tr
											td.tech-characters__desc_td Размер
											td.tech-characters__desc_td 1280*1245*90
										tr.tech-characters__desc_tr
											td.tech-characters__desc_td Вес
											td.tech-characters__desc_td 200 кг
										tr.tech-characters__desc_tr
											td.tech-characters__desc_td Артикул
											td.tech-characters__desc_td 42787825
										tr.tech-characters__desc_tr
											td.tech-characters__desc_td Опция
											td.tech-characters__desc_td включена
										tr.tech-characters__desc_tr
											td.tech-characters__desc_td Цвет
											td.tech-characters__desc_td Серебристый
										tr.tech-characters__desc_tr
											td.tech-characters__desc_td Размер
											td.tech-characters__desc_td 1280*1245*90
										tr.tech-characters__desc_tr
											td.tech-characters__desc_td Вес
											td.tech-characters__desc_td 200 кг
						.about-store
							h2.about-store__title Пара слов о магазине
							.about-store__desc
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa commodi, laudantium consequuntur nobis eius saepe quae, similique quod id minima totam deserunt nam dolorum itaque. Doloribus, sint nobis iusto error? Optio, non, sequi quis praesentium necessitatibus molestias. Soluta ipsam quos, sequi iure. Harum accusantium nostrum magnam culpa maiores optio cumque odit perferendis, cupiditate nam doloribus amet, commodi deleniti. Omnis, tenetur!
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa commodi, laudantium consequuntur nobis eius saepe quae, similique quod id minima totam deserunt nam dolorum itaque. Doloribus, sint nobis iusto error? Optio, non, sequi quis praesentium necessitatibus molestias. Soluta ipsam quos, sequi iure. Harum accusantium nostrum magnam culpa maiores optio cumque odit perferendis, cupiditate nam doloribus amet, commodi deleniti. Omnis, tenetur!
								p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa commodi, laudantium consequuntur nobis eius saepe quae, similique quod id minima totam deserunt nam dolorum itaque. Doloribus, sint nobis iusto error? Optio, non, sequi quis praesentium necessitatibus molestias. Soluta ipsam quos, sequi iure. Harum accusantium nostrum magnam culpa maiores optio cumque odit perferendis, cupiditate nam doloribus amet, commodi deleniti. Omnis, tenetur!
		include ../common/footer.jade
		script(src="bower/jquery/dist/jquery.js")
		script(src="js/main.js")


					