/* --------- adjustment --------- */

$containerWidth: 1000px;
$containerMargin: 0px auto;
$fontStack: "elektra_light_proregular", Arial ,sans-serif;
$fontStackBold: "elektra_light_probold", Arial ,sans-serif;
$footerHeight: 175px;

$mainFontColor: #5c7b98;
$mainColorBlue: #00b9fe;
$borderGray: 1px solid #dce6f0;

html {
	width:100%;
	height:100%;
	font-size: 100.01%;
}

body {
    font: 14px/1.41 $fontStack;
    -webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
    color: $mainFontColor;
}

h1 {
    color: $mainColorBlue;
}

.container {
    position: relative;
    width: $containerWidth;
    margin: $containerMargin;
}

.wrapper {
    position: relative;
    min-height: 100%; 
    height: auto !important; 
    height: 100%;  
    overflow: hidden;
    min-width: $containerWidth + 200;

    &:after {
        content: "";
	    display: block;
        position: relative;
        height: $footerHeight;
    }
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
    padding: 0;
    margin: 0;
	list-style: none outside none;

	li {
        padding: 0;
        left: 0;
    }
}

p {
    padding: 0;
    margin: 0;
}

footer {
	position: relative; 
	/* margin-top: -$footerHeight; */
	height: $footerHeight;
    min-width: $containerWidth + 200;
}

@mixin navigatorItemColorBlue {
    background: $mainColorBlue;
    border-left-color: $mainColorBlue;
    border-bottom-color: $mainColorBlue;
}

@mixin navigatorItemColorGray {
    background: #dce6f0;
    border-left-color: #dce6f0;
    border-bottom-color: #dce6f0;
}